.main-content{
    height:100%;
    position: relative;
}
.chatbar{
    position: fixed;
    background-color: lightgray;
    left:0;
    top:0;
    height: 100%;
    width: 15%;
    min-width: 10rem;
}

.hero-title{
    font-size: 30px;
}
.room{
    font-size : 19px;
    cursor: pointer;
}
.chat-display{
    position: fixed;
    left: 16%;
    width: 74%;
    background-color: lavender;
}
.message{
}
.content{
    font-size: 1rem;
}
.user{
    color:red;
}
.timestamp{
    position: relative;
    left: 80%;
}
.message-input{
    position: fixed;
    left: 16%;
    top: 95%;
    width: 74%;
}
.message-submit{
    position: fixed;
    left: 92%;
    top: 95%;
}